APP_URL=https://linked-safe.com

MYSQL_DATABASE=linkedsafe_com
MYSQL_USER=linkedsafe_com
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_me_root

WORDPRESS_DB_HOST=db:3306
WORDPRESS_DB_USER=linkedsafe_com
WORDPRESS_DB_PASSWORD=change_me
WORDPRESS_DB_NAME=linkedsafe_com

SITE_ARCHIVE=bak/20260301/linkedsafe.com_20260301_115414.tar.gz
SQL_ZIP=bak/20260301/linkedsafe_com_2026-03-01_15-05-58_mysql_data_2o28n.sql.zip
CERT_ZIP=bak/prod/linked-safe-com-prod-cert.zip
